<div id="redactor_tabs">
	<a href="javascript:void(null);" class="redactor_tabs_act">%RLANG.upload%</a>	
	<a href="javascript:void(null);">%RLANG.choose%</a>			
</div>

<div id="redactor_tab1" class="redactor_tab">
	<form id="redactorUploadFileForm" method="post" action="" enctype="multipart/form-data">
		<input type="file" id="redactor_file" name="file" />
	</form>
</div>

<div id="redactor_tab2" class="redactor_tab" style="display: none;">
	<div id="redactor_file_box"></div>
</div>