body.login {
  background: #b1c0c9;
}

#login {
  width: 385px;
  height: 410px;
  background: url(../img/login-box-backg.png) top center no-repeat;
  margin: 70px auto;
  padding: 60px 50px 0 50px;
  text-align: center;
}