* 					{margin:0px; padding:0px; font-family: 'Open Sans Condensed', sans-serif;}
.wrapper 			{background:url(../images/embed.jpg) no-repeat; width:242px; height:253px; position:relative;}

.name 				{color:#7f7f7f; font-size:22px; position:absolute; top:122px; text-align:center; width:100%}
.score 				{font-size:40px; color:white; text-align: center; position:absolute; width:100%; top:183px}
