.orange {color:#F47A2B}
.ltBlue {color:#094E92}
.logoBlue {color:#3595e4}
.dkBlue {color:#173454}
.ltRed {color:#C12126}
.dkRed {color:#88171A}

.left {float:left}
.right {float:right}
.clear {clear:both}

* {margin:0; padding:0;}
html, body {height:100%}

body,td,th{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
	font-size: 12px;
	line-height: normal;
	color: #7f7f7f;
}

body { background:#fff;}

h1 {font-family: 'Open Sans Condensed', sans-serif; margin-bottom:10px; color:#939393; font-size:24px; line-height:28px; font-weight:700;}
h2 {font-family: 'Open Sans Condensed', sans-serif; margin-bottom:10px; color:#939393; font-size:15px; line-height:18px; font-weight:700;}
h3 {font-family: 'Open Sans Condensed', sans-serif; margin-bottom:10px; color:#939393; font-size:13px; line-height:15px; font-weight:700;}
h4 {font-family: 'Open Sans Condensed', sans-serif; margin-bottom:10px; color:#939393; font-size:14px; line-height:14px; font-weight:700;}
p{margin-bottom:14px;}

a, a img {outline:none; border:none; color:#3595e4; text-decoration:none;}
a:hover, a:active {text-decoration:none;}

/*Needed if using Sticky Footer*/
#stickyOuter {width:100%; min-height:100%; background:url(../images/bg-main.jpg) center 240px no-repeat #fff;}
#stickyInner {width:100%; padding:0 0 166px 0; overflow:hidden; background:url(../images/bg-main_overlay.png) center 240px repeat-x;}
/*Needed if using Sticky Footer*/


/***************************************************************************	
Misc
****************************************************************************/
.topAnchor {float:right; margin:5px 5px 0 0;}
.stuck 		{position:fixed; margin: 0 !important; max-width: 900px; width: 96%; top:0; background:white; z-index:5}
.subNavbar.stuck, .memTitle.stuck {top:50px}
.memTitle.stuck {padding:10px 0}
.sticky-wrapper {min-height:50px !important}


/***************************************************************************	
GLOBAL TOP BARS and NAVIGATION
****************************************************************************/
.heritageHeaderFrame {width:100%; overflow: visible; border:none; float:left}

#respHeritageHeader {display:none;}
#respHeritageHeader #logo{text-align:center; padding:10px 0;}
#respHeritageHeader #logo img {width:150px; height:auto;}
#respHeritageHeader #headerNav { list-style:none; width:100%; padding:0; display:table; border-top:1px solid #dddddd;}
#respHeritageHeader #headerNav li { width:25%; display:table-cell; border-right:1px solid #dddddd; vertical-align:middle;}
#respHeritageHeader #headerNav li.last {border:none;}
#respHeritageHeader #headerNav li a {font-family: 'Open Sans Condensed', sans-serif; color:#4d4d4d; font-size:14px; line-height:14px; font-weight:700; height:50px; display:inline-block; display:table-cell; vertical-align:middle; text-align:center; width:25%; padding:0 8px;}

#topOuter {width:100%; min-height:75px; padding:5px 0 0 0; text-align:center; border-bottom:1px solid #2878d1; float:left;}
	#topOuter h1 {font-size:48px; color:#fff; line-height:75px; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); letter-spacing:2px;}

#navOuter {width:100%; min-height:30px; border-bottom:1px solid #d0d0d0; float:left; padding:30px 0 15px;}
	#navInner {width:96%; max-width:940px; margin:0 auto; padding:0 2% 0 2%;}
		#navLeft { float:left; margin:0; list-style:none; }
			.navBreak {display:none;}
			#navLeft li {margin:0 50px 15px 0; float:left; height:20px; position:relative }
			#navLeft li.last {margin:0;}
				#navLeft li a {font-family: 'Open Sans Condensed', sans-serif; color:#7f7f7f; font-size:18px; line-height:20px; height:20px; font-weight:700;}
				#navLeft li .navPointer {position:absolute; bottom:-62px; left:0; width:100%; min-width:58px; height:15px;   }
				body.about .navPointer.aboutPointer {background:url(../images/nav-top_perf_pointer.png) center bottom no-repeat;}
				body.search .navPointer.searchPointer {background:url(../images/nav-top_perf_pointer.png) center bottom no-repeat;}
				body.results .navPointer.resultsPointer {background:url(../images/nav-top_perf_pointer.png) center bottom no-repeat;}
				body.watch .navPointer.watchPointer {background:url(../images/nav-top_perf_pointer.png) center bottom no-repeat;}
				#navLeft li a:hover {color:#939393;}
		
		#navRight { float:right; margin:0 0 10px 0; }
			#navRight #userBox {float:right; font-family:Helvetica, Arial, sans-serif; font-weight:400; font-size:13px; height:20px; line-height:20px; margin:0 35px 0 0;}
			#navRight #sessionBox {float:right; padding:4px 4px 3px 4px; background:#f1f1f1; border-top:1px solid #dadada; margin:-8px 0 0 0;}


/***************************************************************************
GLOBAL CONTAINERS
****************************************************************************/
#mainOuter { width:100%;  float:left;}
	#mainInner {width:98%; max-width:940px; margin:0 auto; padding:30px 1% 30px 1%;}
	
#conBox {background:#fff; border:1px solid #bfbfbf; padding:20px 2%;}




/***************************************************************************	
CONTENT CONTAINERS ON HOME PAGE
****************************************************************************/
	#conHome { padding:0 0 0 628px}
		
		/*map*/
		#mapBox {width:618px; margin:0 0 0 -628px; float:left; background:#fff; min-height:100px; border:1px solid #bfbfbf; padding:15px 0 0 0; }
			#searchBar { text-align:center; height:60px; border-top:1px solid #62d8f5; padding:30px 0 0 0; font-family: 'Open Sans Condensed', sans-serif; color:#fff; font-size:18px; font-weight:700; margin:65px 0 0 0;}
				.stateRespOn {display:none;}
				.searchForm {display:inline-block; margin-bottom:-8px;}
				.searchField { height:29px; width:193px; text-indent:15px; line-height:29px; color: #7f7f7f; font-family:Helvetica, Arial, sans-serif; background:url(../images/search-field.png)left top no-repeat; border:none; float:left }
				#state.searchField { text-indent:0; height:29px; padding:8px 3% 8px 3%; line-height:12px;}
				.searchSubmit {height:29px; width:32px; background:url(../images/search-btn.png) left top no-repeat; border:none; float:left; cursor:pointer;}
				#searchBar span {display: inline-block; margin:0 25px;}
				
		
		/*top performers */
		#topPerfBox {width:100%; float:right;}
			.topPerfBtn {width:49.5%; height:77px}
			.topPerfBtn.active {color:#fff; background:url(../images/nav-top_perf_pointer.png) center bottom no-repeat;} 
				.topPerfBtnInner { width:100%; height:44px; padding:10px 0 0 0; text-align:center; background:#939393; color:#b8b8b8; font-weight:bold; font-size:13px; }
				.topPerfBtn.active .topPerfBtnInner {color:#fff;}
					.topPerfBtn h4 {color:#b8b8b8; margin:0;}
					.topPerfBtn.active h4 {color:#fff;}
			#topPerfBoxInner {background:#fff; width:auto; border:1px solid #bfbfbf; margin:-1px 0 0 0; padding:25px 0 0 0; text-align:center; font-family:Helvetica, Arial, sans-serif;} 
				#topPerfSenate {display:none;}
		
		/* gauges */		
		#gaugeBox {border:1px solid #bfbfbf; padding:3px; background:#fff; margin:30px 0 0 0;}
		#gaugeBox.respOn {display:none; margin:0;}
			.gaugeOuter {width:25%; float:left;}
			.gaugeInner {margin:3px; min-height:175px; overflow:hidden; text-align:center; position:relative;}
				.gaugeInner h2 { margin:140px 0 10px 0;}
			.gauge { margin:0 0 0 -110px; width:220px; height:175px; position:absolute; top:-35px; left:50%;}
		

/***************************************************************************
INFO / SORT / SUBNAV  CONTAINERS
****************************************************************************/
	/*path / compare / sync*/
	#infoBar {position:relative; margin-bottom:25px}
		#infoPath {float:left; line-height:31px; height:31px}
			#infoPath .divider { background:url(../images/search-info_divider.png) left center no-repeat; width:6px; height:10px; margin:0 3px; display:inline-block;}
		#infoCompare {float:right; margin-top:10px}
			#infoCompare img {float:left; border:1px solid #cbcbcb; margin:0 6px 0 0;}
			.compareBtn { float:left; height:27px; width:100px; margin:1px 0 0 0; line-height:27px; text-align:center; border:1px solid #eeeeee; font-family: 'Open Sans Condensed', sans-serif; font-weight:700; }
			#infoSync {
			  float: left;
			  font-family: Helvetica,Arial,sans-serif;
			  height: 31px;
			  line-height: 31px;
			  position: absolute;
			  top: 25px;
			}
	
	/*title / subtitle-subnav / socnet*/	
	#dataNavBar{ margin:0 0 0 0; border-bottom:1px solid #3595e4; min-height:49px;}
		#dataNavBar h1 {float:left; margin:13px 30px 0 0;}
		#dataNav { float:left;  font-family: 'Open Sans Condensed', sans-serif;  font-size:14px; font-weight:700; color:#3595e4; margin:21px 4px 0 0; }
			#dataNav a { float:left; margin:0 30px 0 0;  color:#939393; padding:0 0 6px 0}
			#dataNav a.active {color:#3595e4; background:url(../images/subnav-pointer.png) center bottom no-repeat;}
			#dataNav a.last {margin-right:0px;}
			
		#dataNavRight { float:right; margin:5px 0 0 0;}
			#dataSocnet { float:left; margin:19px 4px 0 0; }
				#dataSocnet img { margin:0 0 0 12px;}
			
	/*sort switch and options*/
	#dataSortSwitch { float:left; height:49px; width:153px; background:#3595e4; padding:0 15px; margin:0 0 0 7px; }
		#dataSortSwitch h4 {color:#fff; float:left; line-height:49px;}
		#sortSwitch { width:42px; height:17px; background:url(../images/bg-sortSwitch.jpg) left top no-repeat; float:right; margin:16px 0 0 0; cursor:pointer;}
	#dataSortOptions {background:#3595e4; padding:12px; display:none; }
		#dataSortOptionsInner { background:#fff; min-height:45px; padding:18px 10px 10px 30px;}
			#dataSortOptionsInner #dropList {float:left; padding:4px 4px 3px 4px; background:#f1f1f1; border-top:1px solid #dadada; margin: 0 20px 5px 0; }
			.sortOptionBox {height:23px; float:left; padding:7px 20px 0; border-left:1px solid #c3c3c3; margin:2px 0 7px 0;}
			.sortOptionBox span {float:left; font-size:13px; color:#888888; font-family:Helvetica, Arial, sans-serif; font-weight:bold; cursor:pointer; }
			.sortOptionBox span.labelAll {width:100%; text-align:center; font-weight:normal; margin:4px 0 2px 0;}
			
	/*sort sliders*/
	.threeOptions .switchy-container{ position: relative; margin: 0 auto; float:left; width:120px; height:16px;}
	.threeOptions .switchy-bar{ position: relative; background: url(../images/slider-3pos_bg.png) left center no-repeat; width: 100%; height: 100%; cursor: pointer; }
	.twoOptions .switchy-container{position: relative; margin: 0 auto; float:left; width:41px; height:16px;}
	.twoOptions .switchy-bar{ position: relative; background: url(../images/sort-ascedesc_bg.png)left center no-repeat; width: 100%; height: 100%; cursor: pointer;}
	.switchy-slider{position: absolute; width: 16px; height: 16px; background: url(../images/btn-sort_switch.png) left center no-repeat; left: 0px; cursor: pointer; margin:0 -2px;}
	

/***************************************************************************
REP SCORE
****************************************************************************/
	#repScoreBox { margin:20px 0; padding:0 158px 0 166px;}
		#repPic {float:left; max-width:146px; margin:0 0 0 -166px;}
			#repPic img {float:left; width:100%; height:auto;}
		#repSentinel { float:right; max-width:138px; margin:40px -158px 0 0;}
			#repSentinel img {float:left; width:100%; height:auto;}
		#repGraph {float:left; width:100%; margin:20px 0 0 0; }
			#repGraph .scoreLbl { font-family: 'Open Sans Condensed', sans-serif;  font-size:14px; font-weight:700;}
			#repScoreBar {width:96%; height:48px; background:#173454; margin:0 0 10px 0; font-family: 'Open Sans Condensed', sans-serif; font-weight:700;}
				#repScoreBar .scorePercent {float:right; height:48px; line-height:44px; font-size:60px; color:#173454; background:#fff; margin:0 5px 0 0; padding:0 8px 0 8px;}
			#avgScoreBar {width:66%; height:28px; background:#7f7f7f; margin:0 0 10px 0; font-family: 'Open Sans Condensed', sans-serif; font-weight:700;}
				#avgScoreBar .scorePercent {float:right; height:28px; line-height:26px; font-size:36px; color:#7f7f7f; background:#fff; margin:0 5px 0 0; padding:0 8px 0 8px;} 
	.howcalc 	{cursor:pointer}			

/***************************************************************************
BILL PAGE and VOTE PAGE
****************************************************************************/
	/*bill*/
	#billInfoBox { padding:40px 250px 10px 0;}
		#billInfo {width:184px; float:right; margin:0 -250px 0 0; color:#fff; font-family: 'Open Sans Condensed', sans-serif; font-weight:700; font-size:13px}
			#voteCountBox { width:168px; height:92px; text-align:center;  padding:8px; }
				#voteCountDisplay { padding:5px 8px; height:48px; background-color:#fff; margin:0 0 15px 0}
					#voteCount { height:48px; line-height:44px; background:url(../images/bg-votecount.png) right top repeat-x; font-size:53px; color:#7f7f7f; letter-spacing:13.5px; text-align:left;  }
					#voteCount span {float:right; margin:0 -8px 0 0;}
	/*bill*/	
	#voteInfoBox { padding:40px 250px 10px 0;}
		#voteInfo {width:184px; float:right; margin:0 -250px 0 0; color:#fff; font-family: 'Open Sans Condensed', sans-serif; font-weight:700; font-size:14px}
			#voteResultBox { width:168px;  text-align:center;  padding:8px; }
				#voteResultDisplay { padding:5px 8px; height:48px; background-color:#fff; margin:5px 0 10px 0;  font-size:53px; color:#7f7f7f; line-height:46px;}	
				#voteResultBox span { font-size:16px; margin:0 0 10px 0;}				
		
	/*both*/
	#infoDescrip {float:left; width:100%;}
		#infoDescrip p {margin-bottom:20px;}
		#infoDescrip h4 { margin-bottom:4px; color:#3595e4; text-transform:uppercase;}
		#infoDescrip h1 { margin-bottom:20px;}
		
	#voteAlertBtn { height:59px; text-align:center; line-height:59px; border-top:1px solid #fbcb4f; color:#fff; display:block;}
	
	
/***************************************************************************
Watch List
****************************************************************************/
	#watchItemsBox  {position:relative; font-size:0;}
		.watchItem {width:50%; list-style:none; display:inline-block; font-size:12px; vertical-align:top; margin:0 0 20px 0; }
			.watchItemInner {border:1px solid #bfbfbf; padding:0 0 0 146px;}
				.watchPic {float:left; width:146px; margin:0 0 0 -146px}
					.watchPic img {float:left; width:100%; height:auto;}
				.watchInfo { width:100%; float:left;}
					.watchName { min-height:22px; color:#fff; font-family: 'Open Sans Condensed', sans-serif; font-weight:700; font-size:22px; line-height:22px; padding:17px 3% 17px 3%;}
					.watchRow { padding:15px 3% 10px 3%; }
						.watchLoc {float:left; font-family: 'Open Sans Condensed', sans-serif; font-weight:700; font-size:14px; padding:8px 0 0 0;}
						.watchScore {float:right; font-size:60px; font-family: 'Open Sans Condensed', sans-serif; font-weight:700; color:#173454; line-height:48px; }
						.watchAct{ float:left; cursor:pointer;}
						.watchSocnet { float:right; margin:0; }
							.watchSocnet img { margin:0 0 0 7px;}
			.watchItem .watchPointer{background:url(../images/nav-top_perf_pointer.png) center bottom no-repeat; height:28px; position:relative; z-index:1000; display:none}
			.watchClose {float:right; margin:5px 5px 0 0; color:#3595e4; font-size:12px; cursor:pointer;}
			.watchDetail { position:absolute; left:0; margin:-1px 0 0 0; display:none; width:100%}
			.watchDetail table {}
					
/***************************************************************************
RESULTS TABLES
****************************************************************************/
	.resultsTable {border:1px solid #bfbfbf; width:100%;}
	.resultsTable tr {cursor:pointer}
	.resultsTable td{vertical-align:middle; font-family: 'Open Sans Condensed', sans-serif; color:#939393; font-weight:700; font-size:24px; text-align:center; padding:5px 5px } 
		i.sentIcon {display:inline-block; width:39px; height:41px; background:url(../images/icon-namefield.png) left top no-repeat; margin:0 3%; float:left;}
		span.thin {font-weight:300;}
		span.yesPos, span.noPos, span.noVote {display:inline-block; width:32px; height:32px; }
			span.yesPos {background:url(../images/sprite-position.png) 0 0 no-repeat;}
			span.noPos {background:url(../images/sprite-position.png) 0 -32px no-repeat;}
			span.noVote {background:url(../images/sprite-position.png) 0 -74px no-repeat;}

	tr.watchHeadingRow td {background:#FFF; border-bottom:1px solid #bfbfbf; border-right:none !important; text-align:left; height:35px; line-height:35px;}
		tr.watchHeadingRow td h1 {margin:0;}
		
	.chamberHide, .partyHide {display:none}
	.voteHide, .billHide {display:none}
	
	
	/*overall Results / bill detail page / vote detail page */
	.overallTable td {text-transform:uppercase; height:68px;}
		.overallTable .stateCell { width:9%}
		.overallTable .districtCell {width:9%}
		.overallTable .nameCell	{width:61%; text-align:left;}
		.overallTable .partyCell {width:9%}
		.overallTable .scoreCell {width:12%; color:#fff; font-size:36px; border-right:none !important; border-left:none !important;}
		
	/*Bill overall Results*/
	.oBillTable td { height:68px;}
		.oBillTable .bNumCell { width:17%}
		.oBillTable .bNameCell {width:35%; text-align:left; font-size:18px; line-height:22px;}
		.oBillTable .bDescripCell	{width:48%; text-align:left; font-family: Georgia, "Times New Roman", Times, serif; font-size:12px; line-height:15px; font-weight:normal;}
		
	/*vote overall Results*/
	.oVoteTable td { height:68px;}
		.oVoteTable .vNumCell {width:17%; text-align:left;}
		.oVoteTable .vNameCell {width:35%; text-align:left; font-size:18px; line-height:22px;}
		.oVoteTable .dateCell {width:17%; text-align:left;}
		.oVoteTable .yesCell { width:9%}
		.oVoteTable .noCell { width:9%}
		.oVoteTable .haPosCell {width:13%}
		
	/*rep Results*/
	.repTable td { height:105px;}
		.repTable .titleCell { width:17.5%; font-size:14px; line-height:17px; text-align:left;}
		.repTable .descripCell	{width:56.5%; text-align:left; font-family: Georgia, "Times New Roman", Times, serif; font-size:12px; line-height:15px; font-weight:normal; }
		.repTable .haPosCell {width:13%}
		.repTable .repPosCell {width:13%;}
		
	/*Compare Results*/
	.compareTable {padding:12px 0 0 0; position:relative;}
	.compareTable td { height:105px;}
			.compareTable th.logoCell img {position:absolute; top:25px; left:10px;}
		.compareTable th.titleImg {padding:0; vertical-align:bottom;}
			.compareTable .titleImg img {width:100%; height:auto; float:left;}
		.compareTable .titleCell { width:27%; font-size:14px; line-height:17px; text-align:left; }
		.compareTable .spacerCell {width:3%}
		.compareTable .haPosCell {width:14%}
		.compareTable .compareCell {width:14%;}
	 
	/*top performers*/
	.topPerfTable {border:none;}
	.topPerfTable td {text-transform:uppercase; height:58px;}
		.topPerfTable .picCell { width:26%}
			.topPerfTable .picCell img {width:90%; height:auto;}
		.imgholder {height:70px; overflow:hidden}	
		.topPerfTable .nameCell { width:40%; font-size:13px;}
		.topPerfTable .stateCell { width:16%; font-size:15px}
		.topPerfTable .scoreCell {width:18%; color:#fff; font-size:22px; border-right:none !important; border-left:none !important;}
		
	/*title Row*/
	.resultsTable tr.titleRow th {background:#FFF; font-family: 'Open Sans Condensed', sans-serif;  font-size:13px; font-weight:700; color:#888888; border:none; height:45px; text-align:center;}
	.resultsTable tr.titleRow th.leftTitle {text-align:left;}
	.resultsTable th {vertical-align:middle; font-family: 'Open Sans Condensed', sans-serif; color:#939393; font-weight:700; font-size:24px; text-align:center; padding:5px 5px } 					


/***************************************************************************					
STICKY FOOTER
****************************************************************************/		
#stickyFooter { width:100%; min-height:166px; margin:-166px 0 0 0; position:relative; background: url(../images/bg-footer.jpg) center top no-repeat #000;}
	#footerInner {width:96%; max-width:940px; margin:0 auto; padding:44px 2% 0 2%; color:#939393; font-size:11px; }
		#footerLeft { width:94%; max-width:340px;  float:left; margin:0 0 0 100px; text-align:center;}
			#footerLeft a {color:#939393; margin:0 20px}
			#footerLeft a.first { margin:0 20px 0 0;}
			#footerLeft a.last {margin:0 0 0 20px;}
			#footerLeft a:hover {color:#7f7f7f;}
		#footerRight { width:94%; max-width:140px; padding:0 3% 0 3%; float:right; margin:0 100px 10px 0; text-align:center;}