@charset "UTF-8";
/* CSS Document */

@media only screen 
and (max-width : 940px)
{



/*HOME PAGE*/
	#conHome {padding:0; }
	#topPerfBox {width:44%; float:right;}
	#mapBox {width:54%; margin:0; padding:0;}
		#map {display:none;}
		#searchBar {padding:0px 2% 18px; height:auto; margin:8px 0 0 0;}
		#searchBar span { display:none;}
		.stateRespOn {display:block;}
		.searchForm { display:block; padding:0 32px 0 0; margin:16px 0 0 0}
			.searchField {width:100%;}
			.searchSubmit {float:right; margin:0 -32px 0 0;}
			
	#gaugeBox.respOn {display:block;}
	#gaugeBox.respOff {display:none;}
	.gaugeOuter {width:50%;}
		.gaugeInner {margin:3px; min-height:150px; overflow:hidden; text-align:center; position:relative;}
				.gaugeInner h2 { margin:115px 0 10px 0; font-size:14px;}
		.gauge {height:150px;}
}

@media only screen 
and (max-width : 800px)
{
	.compareTable th.logoCell img {display:none;}
	#infoSync 		{float:right; position:relative; top:0}
	#infoCompare 	{margin-right:20% }
}

@media only screen 
and (max-width : 768px)
{
	/*GLOBAL*/
	/*footer*/
	.stuck 		{position:relative; margin: 0 !important; max-width: 900px; width: 100%; top:0; background:white; z-index:5}
	.subNavbar.stuck, .memTitle.stuck {top:0}
	#footerLeft { width:100%; max-width:100%; float:none; margin:0; }
	#footerRight { width:100%; max-width: none; padding:0 0 20px 0; float:none; margin:-10px 0 0 0; text-align:center; }
		#footerRight img {margin:0 0 -15px 10px;}
	
	/*dataNav*/	
	#dataNavBar 	{position:relative}
	#dataNavRight {}
		#dataSocnet {
			  left: 0;
			  position: absolute;
			  top: -26px;
			}
			#dataSocnet img { margin:0 30px 0 0;}
		#dataSortSwitch {float:right;}
		
	.remember {display: block;margin-top: 20px; margin-left:0px}
	label[for="remember"] {
	  margin: -15px 0 0 30px;
	  position: absolute;
	}
	
	.compareImg 	{max-height:107px}
	.dropper 		{max-width:750px;}
}
@media only screen 
and (max-width : 720px)
{
/*GLOBAL*/
#mainInner {width:100%; padding:30px 0 30px 0;}
#conBox {border:none; padding:15px 2%}


/*nav*/
#navRight { float:left; margin:0 0 10px 0; width:100%; text-align:center; }
			#navRight #userBox { display:inline-block; float:none; height:29px; line-height:29px; margin:3px 0 0 10%; vertical-align:top;}
			#navRight #sessionBox {display:inline-block; float:none; margin:0 0 0 0;}

#navLeft {width:100%; text-align:center;}
#navLeft li {float:none; display:inline-block; margin:5px 10% 15px 0;}

	
/*HOME PAGE*/
#topPerfBox {width:100%; float:left; margin:15px 0 0 0;}
#mapBox {width:100%; }
#gaugeBox.respOn {display:none;}
#gaugeBox.respOff {display:block;}

/*WATCH LIST*/
.watchItem {width:100%; }
.imgholder {height:auto; }

/*HEADER*/
#heritageHeader {display:none;}
#respHeritageHeader {display:block;}
}

@media only screen 
and (max-width : 640px)
{
/*rep Page rep Score*/
#repScoreBox { padding:0;}
#repPic {float:left; max-width:146px; margin:0 0 0 0;}
#repSentinel { float:right; max-width:138px; margin:40px 0 0 0;}

/*billpage*/
#billInfoBox { padding:40px 0 10px 0;}
	#billInfo {width:184px; float:right; margin:0 0 20px 40px; }	
	
/*votepage*/
#voteInfoBox { padding:40px 0 10px 0;}
	#voteInfo {width:184px; float:right; margin:0 0 20px 40px; }	
	
/*tables*/	
.resultsTable td, .oVoteTable .vNameCell, .oBillTable .bNameCell {font-size:14px; line-height:17px;}
.scoreCell {font-size:20px !important;}

i.sentIcon { width:20px; height:21px; background-size:20px 21px; background-position:left center; float:left;}

.compareList 							{max-height:250px; overflow:auto; -webkit-overflow-scrolling: touch;}
.addCheckbox 	{width:100%}
}


@media only screen 
and (max-width :580px)
{
	#infoCompare 	{margin-right:0% }
	.login 			{width:90%}
	#signin 		{padding:0 20px}
	.signUp 	    {width:90%; margin-left:20px; margin-right:50px}
	.loginTxt 		{padding-right:30px}
}


@media only screen 
and (max-width : 480px)
{
/*GLOBAL*/
#mainInner {padding-top:10px;}
#conBox { padding:3% 2%}

/*nav*/
#navOuter {float:left; padding:10px 0 10px;}
#navRight #userBox { width:100%; text-align:center; margin:3px 0 10px 0; background:#f1f1f1;
	-webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, .3) inset; 
	-moz-box-shadow:1px 1px 2px rgba(0, 0, 0, .3) inset; 
	box-shadow:1px 1px 2px rgba(0, 0, 0, .3) inset;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#navRight #sessionBox {padding:4px 1% 3px 1%; width:98%;}
#navRight .DivSelectyze {width:100%;}
.heritage .selectyzeValue { width:100%; padding:0 0 0 0;}

#navLeft li .navPointer {display:none;}
.navBreak {display:inline;}
#navLeft li, #navLeft li.last {float:none; display:inline-block; margin:5px 8% 15px 8%;}

/*Info Bar*/
#infoBar {text-align:left; background:#f1f1f1; text-align:center; padding-bottom:10px;}
#infoPath {float:none; height:25px; line-height:25px;}
#infoCompare {float:none; width:280px; margin:10px auto 20px;}
#infoSync {float:none; margin:0; height:25px; line-height:25px}
#infoBar br.clear {}

/*dataNav*/	
	#dataNavBar {margin:0;}
	#dataSocnet { float:left; padding:12px 5% 8px 5%; margin:0; width:90%; background:#f1f1f1; border-top:0px solid #3595e4;}
		#dataSocnet img { margin:0 35px 0 0;}
	#dataSortSwitch {float:right; width:90%; padding:0 5%}


/*Data sort*/
#dataSortOptionsInner { padding:18px 10px 10px 10px;}
	#dataSortOptionsInner #dropList {margin: 0 14px 5px 0;}
	.sortOptionBox.twoOptions { padding:7px 0 0 14px;}		
	.sortOptionBox.threeOptions { padding:12px 0 0; border-left:none; }

	
/*footer*/
#footerLeft { font-size:10px; }


/*HOME PAGE*/
#gaugeBox {margin-top:15px;}
.gaugeOuter {width:100%;}
	.gaugeInner {margin:3px; min-height:150px; overflow:hidden; text-align:center; position:relative;}
			.gaugeInner h2 { margin:115px 0 10px 0; font-size:14px;}
	.gauge {height:150px;}

/*tables*/	
.oVoteTable .dateCell {display:none;}
.repTable .descripCell {display:none;}
.repTable .spacerCell {display:none;}

/*compare page*/	
.compareTable .spacerCell {display:none;}
.compareTable .haPosCell {display:none;}

.houseCompare {
  margin-bottom: 10px;
  padding-left: 20%;
  width: 100%;
}
.senateCompare {
  margin-top: 10px;
  padding-left: 20%;
  width: 100%;
}
.compareBtn { margin-left:33%}

}


@media only screen 
and (max-width : 400px)
{

/*billpage*/
#billInfoBox { padding:20px 0 0 0;}
	#billInfo {width:100%; float:none; margin:0 auto 30px; }
	#voteCountBox {width:auto;}	
	
/*votepage*/
#voteInfoBox { padding:20px 0 0px 0;}
	#voteInfo {width:100%; float:none; margin:0 auto 30px; }
	#voteResultBox {width:auto;}

.compareTable .titleRow {display:none;}


/*watchlist*/
.watchItemInner {border:1px solid #bfbfbf; padding:0 0 0 0 ;}
		.watchPic {float:left; width:auto; margin:0 0 -56px 0; position:relative; z-index:5000;}
		.watchPic .watchPicHolder>img {float:left; width:auto; height:56px;}
		.watchPic a {display:none;}
		.watchName {padding-left:58px;}

}




@media only screen 
and (min-width : 680px)
and (max-width : 800px)
{

}

