.compareImgHolder 			{position:relative; cursor:pointer}
.compareImgHolder img 		{position:relative; z-index:1; top:0; left:0}
.compareImgHolder img.cover	{position:absolute; z-index:2; top:0; left:0;  display:none}
.topAdder 					{cursor:pointer}


.compareBtn {
  border: 1px solid #EEEEEE;
  float: left;
  font-family: 'Open Sans Condensed',sans-serif;
  font-weight: 700;
  height: 32px;
  line-height: 27px;
  margin: 1px 6px 0 0;
  padding-top: 6px;
  text-align: center;
  width: 100px;
}
a .compareBtn 			{color:#7F7F7F}
a .compareBtn:hover 			{color:#3595E4}


.compareTable .titleImg img {
  float: left;
  height: auto;
  max-width: 120px;
  width: 100%;
}


.signinform input[type="text"] , .signinform input[type="password"]			{margin-bottom:20px;
																			 width:90%;
																			 padding:10px;
																			 font-size:16px;
																			 color:#969690;
																			 -moz-border-radius:5px;
																		     -webkit-border-radius:5px;
																		     -khtml-border-radius:5px;
																		     border-radius:5px;
																			 border:1px solid #ccc;
																			 -moz-box-shadow: 3px 3px 4px #000;
																			 -webkit-box-shadow: 3px 3px 4px #000;
																			 box-shadow: 3px 3px 4px #ccc;	
																			}
.alert-error 							{color:red; font-size:14px; margin-bottom:10px}
.signinform h2 							{text-transform:uppercase; font-size:20px; margin-bottom:15px}

.login, .signUp							{width:48%}

#signin 								{padding:0 50px}

.btns  									{ font-size:14px; color:#2878D1;  width:100px; margin:1px 0 0 0; line-height:27px; text-align:center; border:1px solid #eeeeee; font-family: 'Open Sans Condensed', sans-serif; font-weight:700; padding:8px }
.btns 									{-moz-box-shadow: 3px 3px 4px #000;
										 -webkit-box-shadow: 3px 3px 4px #000;
										 box-shadow: 3px 3px 4px #ccc;	}
.remember 								{margin-left:30%}
.loginTxt 								{padding:30px 0px; line-height:25px; font-size:14px}

.loginTxtTop 							{margin-bottom:10px}

.parsley-error-list 					{color:red; line-height: 16px}
.parsley-error 							{border-bottom:2px solid red !important}
.parsley-success						{border-bottom:2px solid green !important}


.watchPicHolder 							{max-height:170px; overflow:hidden; width:100%}


.memalert 								{margin:10px 0; font-size:18px; color:#3592E6}
.watchalert 							{margin:0 0 22px 0; font-size:18px; color:#3592E6}


.senateLabel 							{height:17px; width:54px; background:url(../images/senateLabel.jpg) no-repeat; margin-top:12px; margin-right:6px}
.houseLabel 							{height:17px; width:52px; background:url(../images/houseLabel.jpg) no-repeat; margin-top:12px}


.loading 								{display:none;}


.compareImg 							{max-height:125px; overflow:hidden;}
.compareImg img 						{width:100%}


.compareTitleRow 						{display:none}
.compareTitleRow.stuck 					{display:block; top:87px; z-index:1}

.compareTable 							{margin-top:-50px}

.dropper 								{display:none; border:1px solid #ccc;  position:fixed; margin: 0 !important; max-width: 940px; width: 100%; top:0; background:#E6E6E6; z-index:99999}
.dropper 								{   -moz-border-radius-bottomright: 10px;
											-moz-border-radius-bottomleft: 10px;
											-webkit-border-bottom-right-radius: 10px;
											-webkit-border-bottom-left-radius: 10px;
											border-bottom-right-radius: 10px;
											border-bottom-left-radius: 10px;
											box-shadow: 0 0 20px rgba(0, 0, 0, 6);
											-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 6); 
											-webkit-box-shadow: 0 0 20px rgba(0, 0, 0,6)
										}	
.dropInner 								{ padding:30px;}

.closeDrop 								{position:absolute; top:30px; right:25px; cursor:pointer}
										
.dropInner #dropList {
  background: none repeat scroll 0 0 #F1F1F1;
  border-top: 1px solid #DADADA;
  float: left;
  margin: 0 20px 5px 0;
  padding: 4px 4px 3px;
}	
.compareList 							{max-height:300px; overflow:auto; -webkit-overflow-scrolling: touch;}
.addCheckbox 							{width:30%; margin-bottom:8px}
.scrollPrompt 							{padding-bottom:10px; }
																			
.oneColInner 							{min-height: 484px; padding:20px}
.oneColInner  h1 						{border-bottom:1px solid #ccc; padding-bottom:10px}
.oneColInner h2 						{color:#3595e4}




.embedCode 								{padding:20px; background:#5f5e5e; color:#E6E6E6; margin-top:10px; transition:.5s; position:relative}
.embedCode:hover 						{background:#fff; color:#4C4C4C; box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3)}

.topPerfBtnInner 						{cursor:pointer} 


 
  
  

/* This is the default Tooltipster theme (feel free to modify or duplicate and create multiple themes!): */
.tooltipster-default {
	border-radius: 5px; 
	border: 2px solid #000;
	background: #4c4c4c;
	color: #fff;
}

/* Use this next selector to style things like font-size and line-height: */
.tooltipster-default .tooltipster-content {
	/*font-family: Arial, sans-serif;*/
	font-size: 12px;
	line-height: 16px;
	padding: 8px 10px;
	overflow: hidden;
}

/* This next selector defines the color of the border on the outside of the arrow. This will automatically match the color and size of the border set on the main tooltip styles. Set display: none; if you would like a border around the tooltip but no border around the arrow */
.tooltipster-default .tooltipster-arrow .tooltipster-arrow-border {
	/* border-color: ... !important; */
}


/* If you're using the icon option, use this next selector to style them */
.tooltipster-icon {
	cursor: help;
	margin-left: 4px;
}








/* This is the base styling required to make all Tooltipsters work */
.tooltipster-base {
	padding: 0;
	font-size: 0;
	line-height: 0;
	position: absolute;
	z-index: 9999999;
	pointer-events: none;
	width: auto;
	overflow: visible;
}
.tooltipster-base .tooltipster-content {
	overflow: hidden;
}


/* These next classes handle the styles for the little arrow attached to the tooltip. By default, the arrow will inherit the same colors and border as what is set on the main tooltip itself. */
.tooltipster-arrow {
	display: block;
	text-align: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.tooltipster-arrow span, .tooltipster-arrow-border {
	display: block;
	width: 0; 
	height: 0;
	position: absolute;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {
	border-left: 8px solid transparent !important;
	border-right: 8px solid transparent !important;
	border-top: 8px solid;
	bottom: -8px;
}
.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border {
	border-left: 9px solid transparent !important;
	border-right: 9px solid transparent !important;
	border-top: 9px solid;
	bottom: -8px;
}

.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {
	border-left: 8px solid transparent !important;
	border-right: 8px solid transparent !important;
	border-bottom: 8px solid;
	top: -8px;
}
.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
	border-left: 9px solid transparent !important;
	border-right: 9px solid transparent !important;
	border-bottom: 9px solid;
	top: -8px;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border {
	left: 0;
	right: 0;
	margin: 0 auto;
}
.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left span {
	left: 6px;
}
.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
	left: 5px;
}
.tooltipster-arrow-top-right span,  .tooltipster-arrow-bottom-right span {
	right: 6px;
}
.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border {
	right: 5px;
}
.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border {
	border-top: 8px solid transparent !important;
	border-bottom: 8px solid transparent !important; 
	border-left: 8px solid;
	top: 50%;
	margin-top: -7px;
	right: -8px;
}
.tooltipster-arrow-left .tooltipster-arrow-border {
	border-top: 9px solid transparent !important;
	border-bottom: 9px solid transparent !important; 
	border-left: 9px solid;
	margin-top: -8px;
}
.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border {
	border-top: 8px solid transparent !important;
	border-bottom: 8px solid transparent !important; 
	border-right: 8px solid;
	top: 50%;
	margin-top: -7px;
	left: -8px;
}
.tooltipster-arrow-right .tooltipster-arrow-border {
	border-top: 9px solid transparent !important;
	border-bottom: 9px solid transparent !important; 
	border-right: 9px solid;
	margin-top: -8px;
}


/* Some CSS magic for the awesome animations - feel free to make your own custom animations and reference it in your Tooltipster settings! */

.tooltipster-fade {
	opacity: 0;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	-ms-transition-property: opacity;
	transition-property: opacity;
}
.tooltipster-fade-show {
	opacity: 1;
}

.tooltipster-grow {
	-webkit-transform: scale(0,0);
	-moz-transform: scale(0,0);
	-o-transform: scale(0,0);
	-ms-transform: scale(0,0);
	transform: scale(0,0);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
	-webkit-backface-visibility: hidden;
}
.tooltipster-grow-show {
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-o-transform: scale(1,1);
	-ms-transform: scale(1,1);
	transform: scale(1,1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}

.tooltipster-swing {
	opacity: 0;
	-webkit-transform: rotateZ(4deg);
	-moz-transform: rotateZ(4deg);
	-o-transform: rotateZ(4deg);
	-ms-transform: rotateZ(4deg);
	transform: rotateZ(4deg);
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
}
.tooltipster-swing-show {
	opacity: 1;
	-webkit-transform: rotateZ(0deg);
	-moz-transform: rotateZ(0deg);
	-o-transform: rotateZ(0deg);
	-ms-transform: rotateZ(0deg);
	transform: rotateZ(0deg);
	-webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 1);
	-webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	-moz-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	-ms-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	-o-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
}

.tooltipster-fall {
	top: 0;
	-webkit-transition-property: top;
	-moz-transition-property: top;
	-o-transition-property: top;
	-ms-transition-property: top;
	transition-property: top;
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
}
.tooltipster-fall-show {
}
.tooltipster-fall.tooltipster-dying {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;
	top: 0px !important;
	opacity: 0;
}

.tooltipster-slide {
	left: -40px;
	-webkit-transition-property: left;
	-moz-transition-property: left;
	-o-transition-property: left;
	-ms-transition-property: left;
	transition-property: left;
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}
.tooltipster-slide.tooltipster-slide-show {
}
.tooltipster-slide.tooltipster-dying {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;
	left: 0px !important;
	opacity: 0;
}


/* CSS transition for when contenting is changing in a tooltip that is still open. The only properties that will NOT transition are: width, height, top, and left */
.tooltipster-content-changing {
	opacity: 0.5;
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

.tooltipster-shadow {
	border-radius: 5px;
	background: #fff;
	box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
	color: #2c2c2c;
}
.tooltipster-shadow .tooltipster-content {
	font-size: 12px;
	line-height: 16px;
	padding: 8px 10px;
}



/*Development Changelog*/
.devAlert 	{position:fixed; background:red; color:#fff; padding:10px; z-index: 99999}
.changelog  {margin-top:8px; font-size:11px; display:none; }
.changelog 	h5 {margin:4px 0; font-size:12px;}
.openLog 	{margin-left:5px; text-decoration:underline; color:#fff}
