
#heritageHeader ol,
#heritageHeader ul {
  list-style: none;
}
#heritageHeader table {
  border-collapse: collapse;
  border-spacing: 0;
}
#heritageHeader caption,
#heritageHeader th,
#heritageHeader td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
#heritageHeader q,
#heritageHeader blockquote {
  quotes: none;
}
#heritageHeader q:before,
#heritageHeader q:after,
#heritageHeader blockquote:before,
#heritageHeader blockquote:after {
  content: "";
  content: none;
}
#heritageHeader a img {
  border: none;
}
#heritageHeader article,
#heritageHeader aside,
#heritageHeader details,
#heritageHeader figcaption,
#heritageHeader figure,
#heritageHeader footer,
#heritageHeader header,
#heritageHeader hgroup,
#heritageHeader menu,
#heritageHeader nav,
#heritageHeader section,
#heritageHeader summary {
  display: block;
}
#heritageHeader .clearfix {
  *zoom: 1;
}
#heritageHeader .clearfix:before,
#heritageHeader .clearfix:after {
  display: table;
  content: "";
}
#heritageHeader .clearfix:after {
  clear: both;
}
#heritageHeader .hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
#heritageHeader .border-box,
#heritageHeader *,
#heritageHeader input[type="checkbox"],
#heritageHeader input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#heritageHeader .content-box,
#heritageHeader select,
#heritageHeader textarea,
#heritageHeader input[type="text"],
#heritageHeader input[type="password"],
#heritageHeader input[type="datetime"],
#heritageHeader input[type="datetime-local"],
#heritageHeader input[type="date"],
#heritageHeader input[type="month"],
#heritageHeader input[type="time"],
#heritageHeader input[type="week"],
#heritageHeader input[type="number"],
#heritageHeader input[type="email"],
#heritageHeader input[type="url"],
#heritageHeader input[type="search"],
#heritageHeader input[type="tel"],
#heritageHeader input[type="color"],
#heritageHeader .uneditable-input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}
#heritageHeader .display-none,
#heritageHeader nav[role='navigation'] .nav-desc {
  display: none;
}
#heritageHeader .display-block,
#heritageHeader nav[role='navigation'] li.hover > .nav-desc {
  display: block;
}
#heritageHeader .display-inline {
  display: inline;
}
#heritageHeader .display-inline-block,
#heritageHeader nav[role='navigation'] li,
#heritageHeader .footer-navigation li {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
}
#heritageHeader .position-relative {
  position: relative;
}
#heritageHeader .position-absolute,
#heritageHeader nav[role='navigation'] a .nav-desc,
#heritageHeader li#search a,
#heritageHeader li#search .nav-desc {
  position: absolute;
}
#heritageHeader .position-fixed {
  position: fixed;
}
#heritageHeader .position-static {
  position: static;
}
#heritageHeader .float-left {
  float: left;
}
#heritageHeader .float-right {
  float: right;
}
#heritageHeader .float-none {
  float: none;
}
#heritageHeader .hide {
  display: none;
}
#heritageHeader .show {
  display: block;
}
#heritageHeader .invisible {
  visibility: hidden;
}
#heritageHeader .no-margin,
#heritageHeader .no-margin-or-padding,
#heritageHeader h1,
#heritageHeader h2,
#heritageHeader h3,
#heritageHeader h4,
#heritageHeader h5,
#heritageHeader h6,
#heritageHeader ul,
#heritageHeader ol,
#heritageHeader dl,
#heritageHeader nav[role='navigation'] ul {
  margin: 0;
}
#heritageHeader .no-padding,
#heritageHeader .no-margin-or-padding,
#heritageHeader h1,
#heritageHeader h2,
#heritageHeader h3,
#heritageHeader h4,
#heritageHeader h5,
#heritageHeader h6,
#heritageHeader ul,
#heritageHeader ol,
#heritageHeader dl,
#heritageHeader nav[role='navigation'] ul {
  padding: 0;
}
#heritageHeader .no-bullets {
  list-style-type: none;
}
#heritageHeader body {
  width: 100%;
  *zoom: 1;
}
#heritageHeader body:before,
#heritageHeader body:after {
  content: "";
  display: table;
}
#heritageHeader body:after {
  clear: both;
}
#heritageHeader .t10 {
  width: 10%;
}
#heritageHeader .t20 {
  width: 20%;
}
#heritageHeader .t25 {
  width: 25%;
}
#heritageHeader .t30 {
  width: 30%;
}
#heritageHeader .t33 {
  width: 33.333%;
}
#heritageHeader .t40 {
  width: 40%;
}
#heritageHeader .t50 {
  width: 50%;
}
#heritageHeader .t60 {
  width: 60%;
}
#heritageHeader .t66 {
  width: 66.666%;
}
#heritageHeader .t70 {
  width: 70%;
}
#heritageHeader .t75 {
  width: 75%;
}
#heritageHeader .t80 {
  width: 80%;
}
#heritageHeader .t90 {
  width: 90%;
}
#heritageHeader body.responsive-help {
  padding-bottom: 2em;
}
#heritageHeader body.responsive-help:after {
  display: table;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2em;
  line-height: 2em;
  color: #f00;
  width: 100%;
  padding: 0 2em;
  background-color: rgba(255, 0, 0, 0.25);
  z-index: 1000;
}
@media only screen and (min-width: 320px) {
   #heritageHeader body.responsive-help:after {
    content: "handheld";
  }
}
@media only screen and (min-width: 321px) {
 
  #heritageHeader body.responsive-help:after {
    content: "handheld";
  }
}
@media only screen and (max-width: 320px) {
 
  #heritageHeader body.responsive-help:after {
    content: "handheld";
  }
}
@media only screen and (min-width: 600px) {
 
  #heritageHeader body.responsive-help:after {
    content: "tablet";
  }
}
@media only screen and (min-width: 600px) and (orientation: landscape) {
  
  #heritageHeader body.responsive-help:after {
    content: "tablet-landscape";
  }
}
@media only screen and (min-width: 600px) and (orientation: portrait) {
 
  #heritageHeader body.responsive-help:after {
    content: "tablet-portrait";
  }
}
@media only screen and (min-width: 768px) {
 
  #heritageHeader body.responsive-help:after {
    content: "tablet-large";
  }
}
@media only screen and (min-width: 768px) and (orientation: landscape) {
  
  #heritageHeader body.responsive-help:after {
    content: "tablet-large-landscape";
  }
}
@media only screen and (min-width: 768px) and (orientation: portrait) {
 
  #heritageHeader body.responsive-help:after {
    content: "tablet-large-portrait";
  }
}
@media only screen and (min-width: 1224px) {
 
  #heritageHeader body.responsive-help:after {
    content: "desktop";
  }
}
@media only screen and (min-width: 1824px) {
  
  #heritageHeader body.responsive-help:after {
    content: "desktop-large";
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  
  #heritageHeader body.responsive-help:after {
    content: "retina-display";
  }
}
#heritageHeader article,
#heritageHeader aside,
#heritageHeader details,
#heritageHeader figcaption,
#heritageHeader figure,
#heritageHeader footer,
#heritageHeader header,
#heritageHeader hgroup,
#heritageHeader nav,
#heritageHeader section {
  display: block;
}
#heritageHeader audio,
#heritageHeader canvas,
#heritageHeader video {
  display: inline-block;
}
#heritageHeader .lt-ie8 audio,
#heritageHeader .ie6 audio,
#heritageHeader .ie7 audio,
#heritageHeader .lt-ie8 canvas,
#heritageHeader .ie6 canvas,
#heritageHeader .ie7 canvas,
#heritageHeader .lt-ie8 video,
#heritageHeader .ie6 video,
#heritageHeader .ie7 video {
  *display: inline;
  *zoom: 1;
}
#heritageHeader audio:not([controls]) {
  display: none;
}
#heritageHeader [hidden] {
  display: none;
}
#heritageHeader html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
#heritageHeader body {
  margin: 0;
}
#heritageHeader body,
#heritageHeader button,
#heritageHeader input,
#heritageHeader select,
#heritageHeader textarea {
  font-family: sans-serif;
}
#heritageHeader a:focus {
  outline: thin dotted;
}
#heritageHeader a:hover,
#heritageHeader a:active {
  outline: 0;
}
#heritageHeader h1 {
  font-size: 2em;
}
#heritageHeader abbr[title] {
  border-bottom: 1px dotted;
}
#heritageHeader b,
#heritageHeader strong {
  font-weight: bold;
}
#heritageHeader blockquote {
  margin: 0;
}
#heritageHeader dfn {
  font-style: italic;
}
#heritageHeader mark {
  background: yellow;
  color: black;
}
#heritageHeader pre,
#heritageHeader code,
#heritageHeader kbd,
#heritageHeader samp {
  font-family: monospace, serif;
  _font-family: "Courier New", monospace;
  font-size: 1em;
}
#heritageHeader pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
#heritageHeader q {
  quotes: none;
}
#heritageHeader q:before,
#heritageHeader q:after {
  content: "";
  content: none;
}
#heritageHeader small {
  font-size: 75%;
}
#heritageHeader sub,
#heritageHeader sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
#heritageHeader sup {
  top: -0.5em;
}
#heritageHeader sub {
  bottom: -0.25em;
}
#heritageHeader ul,
#heritageHeader ol {
  margin-left: 0;
  padding: 0;
}
#heritageHeader dd {
  margin: 0;
}
#heritageHeader nav ul,
#heritageHeader nav ol {
  list-style: none;
  list-style-image: none;
}
#heritageHeader img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#heritageHeader svg:not(:root) {
  overflow: hidden;
}
#heritageHeader figure {
  margin: 0;
}
#heritageHeader form {
  margin: 0;
}
#heritageHeader fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
#heritageHeader legend {
  border: 0;
}
#heritageHeader .lt-ie8 legend,
#heritageHeader .ie6 legend,
#heritageHeader .ie7 legend {
  margin-left: -7px;
}
#heritageHeader button,
#heritageHeader input,
#heritageHeader select,
#heritageHeader textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}
#heritageHeader .lt-ie8 button,
#heritageHeader .ie6 button,
#heritageHeader .ie7 button,
#heritageHeader .lt-ie8 input,
#heritageHeader .ie6 input,
#heritageHeader .ie7 input,
#heritageHeader .lt-ie8 select,
#heritageHeader .ie6 select,
#heritageHeader .ie7 select,
#heritageHeader .lt-ie8 textarea,
#heritageHeader .ie6 textarea,
#heritageHeader .ie7 textarea {
  *vertical-align: middle;
}
#heritageHeader button,
#heritageHeader input {
  line-height: normal;
}
#heritageHeader button,
#heritageHeader input[type='button'],
#heritageHeader input[type='reset'],
#heritageHeader input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}
#heritageHeader .lt-ie7 button,
#heritageHeader .ie6 button,
#heritageHeader .lt-ie7 input[type='button'],
#heritageHeader .ie6 input[type='button'],
#heritageHeader .lt-ie7 input[type='reset'],
#heritageHeader .ie6 input[type='reset'],
#heritageHeader .lt-ie7 input[type='submit'],
#heritageHeader .ie6 input[type='submit'] {
  *overflow: visible;
}
#heritageHeader input[type="checkbox"],
#heritageHeader input[type="radio"] {
  padding: 0;
}
#heritageHeader input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#heritageHeader input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
#heritageHeader button::-moz-focus-inner,
#heritageHeader input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
#heritageHeader textarea {
  overflow: auto;
  vertical-align: top;
}
#heritageHeader table {
  border-collapse: collapse;
  border-spacing: 0;
}
#heritageHeader :focus {
  outline-color: transparent;
  outline-style: none;
}
#heritageHeader .base-font-family,
#heritageHeader body,
#heritageHeader nav[role='navigation'] .nav-desc {
  font-family: Georgia, serif;
}
#heritageHeader .alternate-font-family,
#heritageHeader h1,
#heritageHeader h2,
#heritageHeader h3,
#heritageHeader h4,
#heritageHeader h5,
#heritageHeader h6,
#heritageHeader blockquote cite,
#heritageHeader nav[role='navigation'] a {
  font-family: "HelveticaNeue-CondensedBold", "Open Sans Condensed", Arial, sans-serif;
}
#heritageHeader .header,
#heritageHeader h1,
#heritageHeader h2,
#heritageHeader h3,
#heritageHeader h4,
#heritageHeader h5,
#heritageHeader h6 {
  color: black;
}
#heritageHeader .strong-text {
  color: black;
}
#heritageHeader .weak-text,
#heritageHeader blockquote cite {
  color: #3d3d3d;
}
#heritageHeader .tiny-font {
  font-size: 9.94px;
  line-height: 10px;
}
#heritageHeader .extra-small-font {
  font-size: 11.004px;
  line-height: 15px;
}
#heritageHeader .small-font,
#heritageHeader h6 {
  font-size: 12.04px;
  line-height: 15px;
}
#heritageHeader .normal-font,
#heritageHeader h5,
#heritageHeader blockquote cite {
  font-size: 14px;
  line-height: 20px;
}
#heritageHeader .medium-font,
#heritageHeader h4 {
  font-size: 15.96px;
  line-height: 20px;
}
#heritageHeader .medium-large-font,
#heritageHeader h3,
#heritageHeader blockquote {
  font-size: 18.06px;
  line-height: 25px;
}
#heritageHeader .large-font,
#heritageHeader h2 {
  font-size: 28px;
  line-height: 30px;
}
#heritageHeader .extra-large-font,
#heritageHeader h1 {
  font-size: 35.98px;
  line-height: 40px;
}
#heritageHeader .text-block,
#heritageHeader p,
#heritageHeader blockquote,
#heritageHeader pre,
#heritageHeader code,
#heritageHeader ul,
#heritageHeader ol,
#heritageHeader dl {
  margin-top: 0;
  margin-bottom: 20px;
}
#heritageHeader .bold,
#heritageHeader h1,
#heritageHeader h2,
#heritageHeader h3,
#heritageHeader h4,
#heritageHeader h5,
#heritageHeader h6,
#heritageHeader strong,
#heritageHeader dfn,
#heritageHeader ul dt,
#heritageHeader ol dt,
#heritageHeader dl dt {
  font-weight: bold;
}
#heritageHeader .normal {
  font-weight: normal;
}
#heritageHeader .italic,
#heritageHeader blockquote,
#heritageHeader em,
#heritageHeader dfn,
#heritageHeader address,
#heritageHeader nav[role='navigation'] .nav-desc {
  font-style: italic;
}
#heritageHeader .underline {
  text-decoration: underline;
}
#heritageHeader .uppercase,
#heritageHeader h6,
#heritageHeader nav[role='navigation'] a {
  text-transform: uppercase;
}
#heritageHeader html {
  -webkit-font-smoothing: antialiased;
}
#heritageHeader body {
  font-size: 14px;
  line-height: 20px;
  color: #4d4d4d;
  text-rendering: optimizeLegibility;
}
#heritageHeader a {
  color: #4d4d4d;
  text-decoration: none;
}
#heritageHeader a:focus,
#heritageHeader a:hover {
  color: #ff3300;
}
#heritageHeader blockquote {
  color: #666666;
  margin-top: 20px;
}
#heritageHeader blockquote cite {
  font-style: normal;
}
#heritageHeader blockquote cite:before {
  content: " — ";
}
#heritageHeader sup,
#heritageHeader sub {
  line-height: 0;
}
#heritageHeader abbr,
#heritageHeader acronym {
  border-bottom: 1px dotted #3d3d3d;
}
#heritageHeader pre,
#heritageHeader code {
  white-space: pre;
  margin-top: 20px;
}
#heritageHeader ul,
#heritageHeader ol,
#heritageHeader dl {
  margin-left: 20px;
}
#heritageHeader ul dd,
#heritageHeader ol dd,
#heritageHeader dl dd {
  margin-left: 20px;
}
#heritageHeader .dquo {
  margin-left: -0.5em;
}
#heritageHeader .pagination-centered {
  text-align: center;
}
#heritageHeader .pagination-right {
  text-align: right;
}
#heritageHeader .assistive-text {
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
#heritageHeader .red-gradient,
#heritageHeader nav[role='navigation'] li.red-gradient:hover {
  background-color: #d51f1b;
  color: white;
  background-image: -ms-linear-gradient(top, #d51f1b, #9c0c0a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d51f1b), to(#9c0c0a));
  background-image: -webkit-linear-gradient(top, #d51f1b, #9c0c0a);
  background-image: -o-linear-gradient(top, #d51f1b, #9c0c0a);
  background-image: -moz-linear-gradient(top, #d51f1b, #9c0c0a);
  background-image: linear-gradient(top, #d51f1b, #9c0c0a);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#d51f1b', endColorstr='#9c0c0a', GradientType=0);
}
#heritageHeader .light-red-gradient,
#heritageHeader nav[role='navigation'] li.light-red-gradient:hover {
  background-color: #fe4e4c;
  color: white;
  background-image: -ms-linear-gradient(top, #fe4e4c, #c91211);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fe4e4c), to(#c91211));
  background-image: -webkit-linear-gradient(top, #fe4e4c, #c91211);
  background-image: -o-linear-gradient(top, #fe4e4c, #c91211);
  background-image: -moz-linear-gradient(top, #fe4e4c, #c91211);
  background-image: linear-gradient(top, #fe4e4c, #c91211);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fe4e4c', endColorstr='#c91211', GradientType=0);
}
#heritageHeader .light-blue-gradient,
#heritageHeader nav[role='navigation'] li.light-blue-gradient:hover {
  background-color: #a7d4fb;
  color: white;
  background-image: -ms-linear-gradient(top, #a7d4fb, #73bbf8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a7d4fb), to(#73bbf8));
  background-image: -webkit-linear-gradient(top, #a7d4fb, #73bbf8);
  background-image: -o-linear-gradient(top, #a7d4fb, #73bbf8);
  background-image: -moz-linear-gradient(top, #a7d4fb, #73bbf8);
  background-image: linear-gradient(top, #a7d4fb, #73bbf8);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#a7d4fb', endColorstr='#73bbf8', GradientType=0);
}
#heritageHeader .medium-blue-gradient,
#heritageHeader nav[role='navigation'] li.medium-blue-gradient:hover {
  background-color: #43b2ec;
  color: white;
  background-image: -ms-linear-gradient(top, #43b2ec, #1d61d7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#43b2ec), to(#1d61d7));
  background-image: -webkit-linear-gradient(top, #43b2ec, #1d61d7);
  background-image: -o-linear-gradient(top, #43b2ec, #1d61d7);
  background-image: -moz-linear-gradient(top, #43b2ec, #1d61d7);
  background-image: linear-gradient(top, #43b2ec, #1d61d7);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#43b2ec', endColorstr='#1d61d7', GradientType=0);
}
#heritageHeader .blue-gradient,
#heritageHeader nav[role='navigation'] li.blue-gradient:hover,
#heritageHeader nav[role='navigation'] li.blue-gradient.hover {
  background-color: #0c4686;
  color: white;
  background-image: -ms-linear-gradient(top, #0c4686, #05203e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0c4686), to(#05203e));
  background-image: -webkit-linear-gradient(top, #0c4686, #05203e);
  background-image: -o-linear-gradient(top, #0c4686, #05203e);
  background-image: -moz-linear-gradient(top, #0c4686, #05203e);
  background-image: linear-gradient(top, #0c4686, #05203e);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0c4686', endColorstr='#05203e', GradientType=0);
}
#heritageHeader .orange-gradient,
#heritageHeader nav[role='navigation'] li.orange-gradient:hover {
  background-color: #fa8f4c;
  color: white;
  background-image: -ms-linear-gradient(top, #fa8f4c, #f54a18);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fa8f4c), to(#f54a18));
  background-image: -webkit-linear-gradient(top, #fa8f4c, #f54a18);
  background-image: -o-linear-gradient(top, #fa8f4c, #f54a18);
  background-image: -moz-linear-gradient(top, #fa8f4c, #f54a18);
  background-image: linear-gradient(top, #fa8f4c, #f54a18);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fa8f4c', endColorstr='#f54a18', GradientType=0);
}
#heritageHeader .dark-gray-gradient {
  background-color: #727272;
  color: white;
  background-image: -ms-linear-gradient(top, #727272, #555555);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#727272), to(#555555));
  background-image: -webkit-linear-gradient(top, #727272, #555555);
  background-image: -o-linear-gradient(top, #727272, #555555);
  background-image: -moz-linear-gradient(top, #727272, #555555);
  background-image: linear-gradient(top, #727272, #555555);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#727272', endColorstr='#555555', GradientType=0);
}
#heritageHeader .light-gray-gradient {
  background-color: #dfdfdf;
  color: white;
  background-image: -ms-linear-gradient(top, #ededed, #d1d1d1);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ededed), to(#d1d1d1));
  background-image: -webkit-linear-gradient(top, #ededed, #d1d1d1);
  background-image: -o-linear-gradient(top, #ededed, #d1d1d1);
  background-image: -moz-linear-gradient(top, #ededed, #d1d1d1);
  background-image: linear-gradient(top, #ededed, #d1d1d1);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ededed', endColorstr='#d1d1d1', GradientType=0);
}
#heritageHeader .uppercase,
#heritageHeader h6,
#heritageHeader nav[role='navigation'] a {
  text-transform: uppercase;
}
#heritageHeader .no-underline,
#heritageHeader nav[role='navigation'] a,
#heritageHeader .site-title a:hover {
  text-decoration: none;
}
#heritageHeader .rounded,
#heritageHeader nav[role='navigation'] .go {
  -webkit-border-radius: 37px;
  -moz-border-radius: 37px;
  border-radius: 37px;
}
#heritageHeader .arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}
#heritageHeader .arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f00;
}
#heritageHeader .arrow-right {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid white;
}
#heritageHeader .arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid blue;
}
#heritageHeader .max-width,
#heritageHeader nav[role='navigation'] {
  max-width: 960px;
}
#heritageHeader .centered {
  margin: 0 auto;
}
#heritageHeader nav[role='navigation'] li {
  width: 25%;
}
#heritageHeader select,
#heritageHeader textarea,
#heritageHeader input[type="text"],
#heritageHeader input[type="password"],
#heritageHeader input[type="datetime"],
#heritageHeader input[type="datetime-local"],
#heritageHeader input[type="date"],
#heritageHeader input[type="month"],
#heritageHeader input[type="time"],
#heritageHeader input[type="week"],
#heritageHeader input[type="number"],
#heritageHeader input[type="email"],
#heritageHeader input[type="url"],
#heritageHeader input[type="search"],
#heritageHeader input[type="tel"],
#heritageHeader input[type="color"],
#heritageHeader .uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
}
#heritageHeader input[type="search"] {
  -webkit-appearance: none;
  /* Addresses appearance set to searchfield in S5, Chrome */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  box-sizing: content-box;
  text-transform: uppercase;
}
#heritageHeader input[type="search"] :-moz-placeholder {
  text-transform: uppercase;
}
#heritageHeader input[type="search"] :-ms-input-placeholder {
  text-transform: uppercase;
}
#heritageHeader input[type="search"] ::-webkit-input-placeholder {
  text-transform: uppercase;
}
#heritageHeader input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}
#heritageHeader button::-moz-focus-inner,
#heritageHeader input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}
#heritageHeader input[type=text],
#heritageHeader input[type=email],
#heritageHeader textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#heritageHeader #menu-main-nav > li.score-card {
  cursor: default;
}
#heritageHeader #menu-main-nav > li.score-card a,
#heritageHeader #menu-main-nav > li.the-forge-blog a {
  display: block;
}
#heritageHeader #menu-main-nav > li.the-forge-blog .nav-desc > a {
  line-height: 20px;
}
#heritageHeader #menu-main-nav > li.the-forge-blog .nav-desc > a > .blog-date {
  font-size: 12px;
  font-weight: normal;
}
#heritageHeader #masthead {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

#heritageHeader nav[role='navigation'] {
  font-size: 0;
  overflow: visible;
  vertical-align: top;
  padding: 0 1.38889%;
  margin:0 auto;
}
#heritageHeader nav[role='navigation'] a {
  font-size: 14px ;
  font-weight: bold;
  line-height: auto;
  color: #4d4d4d;
  position: relative;
  height: 70px;
  line-height: 70px; 
  white-space: nowrap;
  z-index: 100;
  background-color: white;
}
@media only screen and (min-width: 768px) {
 
  #heritageHeader nav[role='navigation'] a {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1224px) {
  
  #heritageHeader nav[role='navigation'] a {
    font-size: 22px;
  }
}
#heritageHeader nav[role='navigation'] a:hover {
  background-color: transparent;
  color: white;
}
#heritageHeader nav[role='navigation'] a:active {
  color: white !important;
  text-decoration: none!important;
}
#heritageHeader nav[role='navigation'] a .nav-title,
#heritageHeader nav[role='navigation'] a + .nav-desc {
  width: 195px;
  z-index: 1000;
}
#heritageHeader nav[role='navigation'] a .nav-desc {
  padding-top: 40px;
}
#heritageHeader nav[role='navigation'].paging-navigation a:hover {
  color: black;
  text-decoration: underline;
}
#heritageHeader nav[role='navigation'] ul {
  position: relative;
  height: 70px;
  overflow: visible;
  z-index: 1000;
  margin: 0 46px 0 119px;
}
#heritageHeader nav[role='navigation'] .nav-desc {
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  text-transform: none;
  top: 70px;
  padding: 0 10px;
}
#heritageHeader nav[role='navigation'] li {
  height: 70px;
  text-align: center;
  z-index: 950;
  position: relative;
  top: 0;
  vertical-align: top;
  border-right: 1px solid #dddddd;
}
#heritageHeader nav[role='navigation'] li.gradient {
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  background-image: none;
  background-color: white;
}
#heritageHeader nav[role='navigation'] li:hover {
  color: white;
  z-index: 1000;
  cursor: pointer;
  border-right: transparent;
  height: 137px;
}
#heritageHeader nav[role='navigation'] li:hover#home-link:hover {
  height: 70px;
}
#heritageHeader nav[role='navigation'] li:hover a {
  color: white;
  background-color: transparent;
}
#heritageHeader nav[role='navigation'] li:hover > .nav-desc {
  display: block;
  z-index: 1001;
}
#heritageHeader nav[role='navigation'] li.hover {
  height: 137px;
}
#heritageHeader nav[role='navigation'] li.hover > .nav-desc {
  z-index: 1001;
}
#heritageHeader nav[role='navigation'] .nav-title {
  top: 30px;
}
#heritageHeader nav[role='navigation'] .author {
  margin-top: 10px;
}
#heritageHeader nav[role='navigation'] .blog-title {
  color: white;
  white-space: normal;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  font-style: normal;
}
#heritageHeader nav[role='navigation'] .go {
  width: 22px;
  height: 22px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 1px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.35) 0 1px 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 1px 5px;
  position: absolute;
  right: 0px;
  bottom: 15px;
  padding: 5px 9px;
}
#heritageHeader #home-link {
  width: 119px!important;
  position: absolute;
  left: -119px;
  background: transparent url("img/logonew.png") left center no-repeat;
}
#heritageHeader .site-title {
  width: 120px;
  height: 70px;
  text-indent: -9999em;
}
#heritageHeader #home-link:hover .site-title {
  background: url(../img/home-logo-hover.png) no-repeat;
}
#heritageHeader .site-title a {
  width: 120px;
  height: 70px;
  display: block!important;
  background-color: transparent!important;
}
#heritageHeader .site-title a:hover {
  background-image: url(../img/home-logo-hover.png) no-repeat;
}
#heritageHeader .site-title:hover .logo-hover {
  display: block;
}
#heritageHeader .logo-hover {
  width: 119px;
  height: 70px;
  display: none;
  position: absolute;
  background: url(../img/home-logo-hover.png) no-repeat;
}
#heritageHeader li#search {
  z-index: 900;
  position: absolute;
  width: 220px!important;
  right: -46px;
}
#heritageHeader li#search:hover {
  z-index: 949;
}
#heritageHeader li#search a {
  width: 100%;
  height: 70px;
  background: transparent url("img/search.png") 190px 30px no-repeat;
  left: 0;
}
#heritageHeader li#search:hover a,
#heritageHeader li#search:hover a:hover,
#heritageHeader li#search.hover a,
#heritageHeader li#search.hover a:hover {
  background-image: url("img/search-hover.png");
}
#heritageHeader li#search .nav-desc {
  top: 85px;
  width: 95%;
}
#heritageHeader li#search input {
  width: 82%;
  font-size: 12px;
  margin-left: -16px;
}
#heritageHeader .nav-desc.nav-search input[type="search"] {
  width: 76%;
  margin-left: -40px;
}
#heritageHeader .nav-desc.nav-search .go {
  position: absolute;
  right: 10px;
  bottom: 40px;
}
#heritageHeader .menu-toggle {
  cursor: pointer;
}
#heritageHeader .main-small-navigation .menu {
  display: none;
}
#heritageHeader nav[role="navigation"] li.the-forge-blog:hover,
#heritageHeader nav[role="navigation"] li.the-forge-blog:hover a {
  height: auto;
  padding-bottom: 3px;
}
#heritageHeader #blog-latest-info {
  text-align: left;
}


#home-link:hover .site-title {
    background: url(http://heritageaction.com/wp-content/themes/heritageaction/img/home-logo-hover.png) no-repeat !important;
  }
  #score-card a .nav-title {
    border-bottom: 4px solid rgba(53, 148, 228,0.9);
    color: #3594E4;
  }
  #score-card:hover a .nav-title {
    color:#fff;
    border-bottom:none;
  }
  .text-shadow-dark, nav[role="navigation"] li:hover {
    text-shadow: 1px 0 5px rgba(0,0,0,0.35);
  }
  #stickyFooter {
    background:#000;
  }
  #footerLeft {
   max-width:355px; 
  }
  #stickyFooter address{    
    font-family: Georgia, serif;
    font-style: italic;
    line-height:20px;
  }
  #add-to-compare-button{
    width:auto;
    cursor:pointer;
  }
  